name: Docker Image CI

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]
    workflow_dispatch:

jobs:
    docker-build:
        runs-on: ubuntu-latest
        steps:
            - name: Login to ghcr.io
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner}}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: lowercase github.repository
              run: echo "IMAGE_NAME=${GITHUB_REPOSITORY@L}" >> ${GITHUB_ENV}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                  file: Dockerfile
                  push: true
                  tags: |
                      ghcr.io/${{ env.IMAGE_NAME }}:latest
                      ghcr.io/${{ env.IMAGE_NAME }}:${{ github.RUN_ID }}
